<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head lang="es">
    <title>Gestión de Información del Usuario</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,
        initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.17/css/jquery.dataTables.min.css">

    <link rel="stylesheet" href=https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css>
    <link rel="stylesheet" href=https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css>
    <link rel="stylesheet" href=https://cdn.datatables.net/responsive/2.2.2/css/responsive.bootstrap4.min.css>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.17/js/jquery.dataTables.min.js"></script>

</head>

<body>

<table id="adm-usuarios" class="table table-striped table-bordered dt-responsive nowrap" style="width:100%">
    <thead>
    <tr>
        <th>Nombre</th>
        <th>Apellido Paterno</th>
        <th>Apellido Materno</th>
        <th>e-mail</th>
    </tr>
    </thead>
</table>

</body>

<script>


    $(document).ready(function () {




        $('#adm-usuarios').DataTable(
                {
                    processing: true,
                    serverSide: true,
                    ajax: {
                        url: "/rest/users",
                        data: (function(data){
                            console.log(data);
                            console.log(data.start);
                            console.log(data.length);
                            console.log((data.start == 0) ? 1 : (data.start / data.length)+1);

                            var restUserParameters = new Array();
                            restUserParameters.push({"name" : "limit", "value": data.length});
                            restUserParameters.push({"name" : "page", "value": (data.start == 0) ? 1 : (data.start / data.length)+1});
                            return restUserParameters;
                        }),
                        dataSrc: "_embedded.users"
                    },
                    columns: [
                        {"data": "name"},
                        {"data": "lastName1"},
                        {"data": "lastName2"},
                        {"data": "email"}
                    ]

                }
        );
    });

</script>

</html>