<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head lang="es">
    <title>Gestión de Información del Usuario</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,
        initial-scale=1, maximum-scale=1, user-scalable=no"/>

    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

</head>

<body>

<table id="adm-usuarios" class="display" style="width:100%">
    <thead>
    <tr>
        <th>nombre</th>
        <th>e-mail</th>
    </tr>
    </thead>
</table>

</body>

<script>


    $(document).ready(function () {


        $('#adm-usuarios').DataTable({

            processing: true,

            serverSide: true,

            ajax: {
                url: "/rest/users",

                dataFilter: (function (data) {

                    var json = jQuery.parseJSON(data);
                    json.recordsTotal = json.page.totalElements;
                    json.recordsFiltered = json.page.totalElements;
                    return JSON.stringify(json);

                }),

                data: (function (data) {

                    largoSetRegistros = data.length;
                    paginaActual = ((data.start == 0) ? 1 : (data.start / data.length) + 1);
                    var restUserParameters = [];
                    restUserParameters.push({"name": "size", "value": largoSetRegistros});
                    restUserParameters.push({"name": "page", "value": paginaActual});
                    return restUserParameters;
                }),

                dataSrc: "_embedded.users",
            },

            columns: [
                {
                    data: "name", render: function (data, type, row) {
                    if (type == 'display') {
                        return data + ' ' + row.lastName1 + ' ' + row.lastName2
                    }
                }
                },

                {data: "email"}
            ]
        });
    });

</script>

</html>