<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="es">
<head>
    <title>Edición de Datos del Usuario</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width,
        initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.css">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
</head>
<body>

<div class="container-fluid">

    <div th:replace="header :: copy"></div>

    <div class="row">

        <div class="col-sm-3">
            <div th:replace="sidebar :: copy"></div>
        </div>

        <div class="col-sm-8 shadow p-3 mb-5 bg-white rounded">

            <h3>Edición de Datos del Usuario</h3>
            <form action="#" th:action="@{/admin/usuarios}" th:object="${usuario}" method="post">

                <div class="form-group shadow-sm p-3 mb-5 bg-white rounded">
                        <input type="hidden" th:value="*{id}"/>
                        <input type="text" id="nombre" name="nombre" th:value="*{name}"/>
                        <input type="text" id="apellido1" name="apellido1" th:value="*{lastName1}"/>
                        <input type="text" id="apellido2" name="apellido2" th:value="*{lastName2}"/>
                        <input type="checkbox" id="estado" name="estado" th:checked="*{active==1}? true: false"/>
                </div>

                <div class="form-group">
                    <span th:each="roluser : *{roles}">
                        <a href="" class='badge badge-info' th:text="${roluser.role}"></a>
                    </span>
                </div>


                <div class="form-group blu-margin" >
                    <select class="form-control" th:field="${allroles}" id="comboroles">
                        <option value="0" th:text="Seleccionerol"></option>
                        <option th:each="rol : ${allroles}"
                                th:value="${rol.id}"
                                th:readonly="${rol} == ${roluser}"
                                th:text="${rol.role}">
                        </option>
                    </select>
                </div>

                <div class="form-group">
                    <input type="submit" value="Registrar"/>
                </div>

            </form>
        </div>
    </div>
</div>
</div>
</body>
</html>